<c-row ngPreserveWhitespaces>

  <div class="invoice-container">
    <h2 class="invoice-title">JULIUS EVENT CENTRE - INVOICE</h2>

    <c-card class="invoice-card">
      <form #customStylesForm="ngForm"

            novalidate
            cForm cRow
            class="needs-validation">
        <!-- Customer Info -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Invoice No</label>
          <h2> {{invoiceListLen}}</h2>
          </div>
          <div class="col-md-6">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" name="selectedDate" [(ngModel)]="selectedDate"/>
          </div>
        </div>
        <!-- Customer Info -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Company / Name of Person</label>
            <select aria-label="" id="validationCustom04"  required cSelect name="selectStore" [(ngModel)]="selectStore" (change)="changeStores()" >
              @for (stores of storesList; track stores){
                <option [value]="stores.id">{{stores.storeName}}</option>
              }@empty {
              <li>There are no items.</li>
              }

            </select>
            <c-form-feedback [valid]="valid">Please select a valid Store.</c-form-feedback>

          </div>
          <div class="col-md-6">
            <label class="form-label">Contact Name / Phone #</label>
            <input type="text" name="contactNumber" [(ngModel)]="contactNumber" class="form-control" placeholder="Enter phone" />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-6">
            <label class="form-label">Delivery Date and Time / Pickup Time</label>
            <input type="datetime-local" name="deliveryDT" [(ngModel)]="deliveryDT" class="form-control" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Delivery Address (If pickup, write JULIUS)</label>
            <input type="text" class="form-control" name="deliveryAddress" [(ngModel)]="deliveryAddress" placeholder="Enter address" />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6">
            <label class="form-label">Delivery Type (Delivery/Pickup)</label>
            <select aria-label="" name="deliveryType" [(ngModel)]="deliveryType" cSelect>
              <option value="Delivery">Delivery</option>
              <option value="Pickup">Pickup</option>
            </select>
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <!-- Item Table -->
        <h5 class="section-title">Order Details</h5>

        <div class="table-responsive">
          <table class="table table-bordered text-center align-middle">
            <thead>
            <tr>
              <th>No.</th>
              <th>Description</th>
              <th>Qty</th>
              <th>Price ($)</th>
              <th>Total ($)</th>
            </tr>
            </thead>
            <tbody>
            @for (order of orders;track order){
            <tr>
              <td>{{order.no}}</td>
              <td>{{order.name}}</td>
              <td><input type="number"  inputmode="numeric" class="form-control text-center"  name="qty{{ $index }}" [(ngModel)]="order.qty" (input)="updateTotal(order)" (change)="updateTotal(order)"
          min="0" /></td>
              <td>{{order.price|currency}}</td>
              <td>{{order.total|currency}}</td>
            </tr>
            }
            </tbody>
          </table>
        </div>

        <!-- Add item button -->
<!--        <button type="button" class="btn btn-outline-primary mt-2" (click)="addItem()">-->
<!--          <i class="cil-plus"></i> Add Item-->
<!--        </button>-->

        <!-- Total -->
        <div class="total-section text-end mt-4">
          <h5>Total Amount: <strong>{{ totalPrice|currency }}</strong></h5>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Paid (Yes/No)</label>
            <select aria-label="" name="paid" [(ngModel)]="paid"  cSelect>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="form-label">Comment</label>
            <textarea cFormControl id="floatingTextarea" name="comment" [(ngModel)]="comment" placeholder="Leave a comment here"></textarea>

          </div>
        </div>
        <div class="row">
          <div class="col-md-10">

          </div>
          <div class="col-md-2">
            @if(isEdit){
            <button type="submit" class="btn btn-outline-warning mt-2" (click)="editInvoice()">
              <i class="cil-plus"></i> Edit Invoice
            </button>
            }@else{
            <button type="submit" class="btn btn-outline-primary mt-2" (click)="submitInvoice()">
              <i class="cil-plus"></i> Add Invoice
            </button>
            }

          </div>
        </div>

      </form>
    </c-card>
  </div>

</c-row>

